.react-calendar {
  width: 100%;
  max-width: 100%;
  border: none;
  line-height: 1.125em;
  background: #f9f9f9;
  border-radius: 13px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 13px;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar__navigation,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
  box-shadow: none;
}
.react-calendar__navigation {
  height: 40px;
  margin-bottom: 1em;

  padding-top: 0px;
}
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.react-calendar__navigation__arrow {
  font-size: 20px;
  color: #9f9f9f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-calendar__navigation__prev2-button {
  display: none;
}

.react-calendar__navigation__prev-button {
  border-top-left-radius: 13px;
}
.react-calendar__navigation__label {
}
.react-calendar__navigation__label__labelText {
}
.react-calendar__navigation__label__labelText--from {
}

.react-calendar__navigation__next-button {
  border-top-right-radius: 13px;
}

.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__navigation button {
  background: #ecedf1;
  height: 40px;
}
.react-calendar__navigation button:enabled:hover {
  background-color: #ffffff;
  margin-top: 2px;
  box-shadow: none;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: #cfcfcf;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #c9b194;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;

  padding: 0.75em 0.5em;
  background: none;
}

.react-calendar__month-view__days__day {
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #0fb926;
  box-shadow: inset 0px 0px 0px 5px #f9f9f9;
  border-radius: 100%;
  color: white;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #47704c;
}
.react-calendar__tile--hasActive {
  background: #ecedf1;
  border-radius: 10%;
  color: #3e4347;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
  border-radius: 100%;
  box-shadow: inset 0px 0px 0px 5px #f9f9f9;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #2f7fce;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
.highlight {
  background: #e2ac61;
  border-radius: 100%;
  color: white;
  box-shadow: inset 0px 0px 0px 5px #f9f9f9;
}
