@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

html {
  background-image: url("/images/carbg.png");
  background-repeat: repeat;
}
.car-background {
  background-image: linear-gradient(
    180deg,
    #ffffff69,
    #f0f0f0d7
  ); /* ,
    url("/images/carbg.png");
  background-repeat: repeat; */
}
html,
body,
input,
select,
textarea {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.pageHolder,
.pageHolderInside,
.pageHolderHero,
.heroHolder,
.heroPage,
.heroContentHeader,
.heroContent,
.card,
.graycard,
.footerContainer,
input,
select,
.navContainer,
.navContainer,
.profileMenu,
.column-three,
.column-two,
.navButtons,
.badgeHolder,
.cardHero,
.sideNavContainer,
.sideNavButton,
.sideNavButtons,
.cardbase,
.column-maincontent,
.upgradeTable #separator,
textarea {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
h2 {
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 18px;
}
#pattern-name {
  font-weight: 900;
}
#pattern-parameter {
  color: blue;
  font-style: italic;
}
.navButtons #button svg,
.navButtonBase,
.card {
  -moz-transition: 0.1s ease-in-out;
  -webkit-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.vertical-center {
  display: flex;
  align-items: center;
}
.even-spacing {
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
}
.align-right {
  display: flex;
  justify-content: flex-end;
}

.pageHolder,
.noBottomPadding {
  position: absolute;
  width: 100%;
  height: 100%;
}
.pageHolder {
  padding-bottom: 60px;
}
.pageHolderHero {
  position: absolute;
  width: 100%;

  margin-top: 60px;
}

.pageHolderInside {
  position: absolute;
  width: 100%;
  margin-top: 60px;
  height: 100%;
}

.column-two {
  display: grid;
  grid-template-columns: 300px auto;
  height: 100%;
}
.column-menu {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
}
.logo-search {
  width: 300px;
}
.mainPage {
  padding-bottom: 40px;
}
.margin-right,
.margin-left {
  background-color: #ffffff;
  height: 100%;
}
.margin-right {
  box-shadow: -1px 0px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 25px;
}
.margin-left {
  box-shadow: 1px 0px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.column-maincontent {
  padding: 20px;
}
.column-maincontent-nopadding {
  padding: 0 20px 20px 20px;
  max-width: 900px;
}
.heroHolder {
  display: grid;
}
.heroHolderSignin {
  grid-template-columns: 40% 60%;
  height: 100%;
}
.heroHolderUpgrade {
  grid-template-columns: 25% 75%;
  height: 100%;
}
.heroPage {
  background: url("/images/1280.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;

  position: inherit;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.56);
  /*  background: url("/images/1280.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heroContent {
  padding: 10%;
  width: 100%;
  max-width: 550px;
}
.heroContentHeader {
  display: grid;
  grid-template-rows: auto auto auto;
  text-align: center;

  width: 100%;
  justify-content: center;
  align-items: center;
}
.heroContentHeader h1 {
  font-size: 22px;

  letter-spacing: 0;

  line-height: 1.5;
}

.heroContentHeader h2 {
  font-size: 15px;
  font-weight: 500;

  letter-spacing: 0;

  line-height: 1.5;
}
.heroContentHeader img {
  width: 100%;
}
.heroContentList ul {
  list-style-position: outside;
  margin-top: 40px;
}
.heroContentList li {
  position: relative;
  list-style-type: none;
  font-size: 14px;
  font-style: italic;
  line-height: 1.5;
  padding: 0px 0px 20px 0px;
  vertical-align: middle;
  font-weight: 400;
}
.heroContentList li:before {
  position: absolute;
  background: url("/images/bullet1.svg") no-repeat center center transparent;
  content: "";
  background-size: 20px 20px;
  padding: 15px;
  position: absolute;

  left: -35px;
  font-size: 33px;
}
.margin-bottom-60 {
  margin-bottom: 60px;
}
.card,
.graycard {
  position: relative;

  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 13px;
  padding: 20px;
  width: 100%;
}
.graycard {
  background: #ecedf1;
}
.card {
  background: #ffffff;
}

.cardHover:hover {
  background: #f5f6fa;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
}
.loginHolder,
.largeCardHolder {
  display: flex;

  justify-content: center;
  align-items: center;
}
.largeCardHolder {
  margin: 0 0 auto 0;

  padding: 30px 30px 90px 30px;
}

.upgradeHolder {
  padding: 20px;
}
.loginHolder {
  margin: auto;
  padding-bottom: 80px;
}
.loginContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginLogo img {
  margin: 0px 0 20px 0;
  width: 90%;
}
#textLink {
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
}
#textLink:hover {
  text-decoration: underline;
  color: #bebebe;
}
.orDivider {
  display: flex;
  justify-content: center;
  margin: 20px 0 10px 0;
  align-items: center;
  padding: 15px;
}

.googleLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin-top: 20px;
  opacity: 1;
  cursor: pointer;
}
.googleLogin img {
  width: 200px;
}
.googleLogin:hover {
  opacity: 0.8;
}
.footerContainer,
.navContainer {
  position: fixed;
  align-items: center;
  z-index: 6;
  width: 100%;
  color: #949494;
  font-size: 13px;
}
.navButtonBase {
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.navButtons #button svg:hover ~ .navButtonBase {
  background-color: #e2ac61;
}
.navButtons #button svg:hover {
  fill: #e2ac61;
}
.navButtons #button {
  position: relative;
  margin: 0px 10px 0px 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navButtonsTop #button {
  width: 65px;
}

.navButtons #button svg {
  fill: #9ca3ae;
  cursor: pointer;

  width: 100%;
  padding: 8px;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 60px;
  bottom: 0;
  box-shadow: 0px -1px 3px 1px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
}
.navContainer,
.navContainerBottom {
  position: fixed;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  height: 60px;
}
.navContainer {
  top: 0;
}

.navContainerBottom {
  bottom: 0;
  z-index: 3;
  width: 100%;
  display: flex;
  align-items: center;
}

.footerContainer #logo img,
.navContainer #logo img {
  height: 30px;
}
.footerNavDivider {
  display: inline-block;
  width: 0.3px;
  height: 8px;
  background-color: #b6b6b6;
  margin: 0px 10px 0px 10px;
}

.profileMenu img,
.profilePic img {
  border-radius: 100%;
  height: 30px;
  border: solid 2px rgba(102, 102, 102, 0.5);
}
.upgradeHero {
  background-image: linear-gradient(180deg, #eeeeee 0%, #f5f5f5 100%);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  border-radius: 13px 13px 0 0;
  background: #96a9c1;
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
  align-items: center;
  padding: 15px;
}
.upgradeHero h1 {
  font-size: 20px;
  color: rgba(249, 249, 249, 0.8);
  letter-spacing: 0;
  text-align: center;
}
.upgradeHero #col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0px 20px 0 20px;
  position: relative;
}
.badgeHolder {
  position: absolute;
  width: 100%;
  left: 0;
  top: -75px;
}
.badgeHolder img {
  width: 90px;
}
.upgradeHero #price {
  font-size: 35px;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  height: 40px;
}
.upgradeHero #annual {
  height: 20px;

  font-size: 12px;
  color: rgba(255, 255, 255, 0.66);
  letter-spacing: 0;
  text-align: center;
}
.upgradeHero #howlong {
  height: 20px;

  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0;
}
.upgradeHero #howlong span {
  margin: 0 5px 0 5px;
  cursor: pointer;
}
.upgradeHeroCap {
  background: #dbe1eb;
  border-radius: 0 0 13px 13px;
  text-align: center;
  padding: 12px;
  font-weight: 900;
}
.upgradeFloor {
  background: #96a9c1;
  display: grid;
  grid-template-columns: 32% 6px 32% 6px 32%;
  align-items: start;
  text-align: center;
  margin-top: 20px;
  border-radius: 0 0 13px 13px;
}
.upgradeTable {
  display: grid;
  grid-template-columns: 32% 6px 32% 6px 32%;
  align-items: start;

  width: 100%;
  text-align: center;
}
.upgradeTable #separator {
  padding: 3px;
  background-image: linear-gradient(180deg, #dbe1eb 0%, #fdfeff 100%);
  height: 100%;
}
.upgradeList div {
  font-size: 13px;
  padding: 14px;
  border-bottom: solid 0.1px rgba(223, 223, 223, 0.5);
}
.column-three {
  display: grid;
  grid-template-columns: 300px auto 300px;
}
.navDivider {
  display: none;
}

/* SIDE NAV */
.hamburger {
}
.hamburger img {
  height: 16px;
  position: fixed;
  z-index: 11;
  top: 22px;
  left: 20px;
}
#closebtn {
  opacity: 0;
}
.sideNavContainer {
  background: url("/images/1280.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
  position: fixed;
  max-width: 70%;
  width: 250px;
  z-index: 10;
  top: 0;
  padding-top: 40px;
  border: 1px solid #444444;
  border-top: none;
  border-left: none;
  border-bottom: none;
}
#sidenav {
  transform: translateX(-300px);
}

.sideNavButtons {
  position: absolute;
  width: 100%;
  margin-top: 40px;
}
.sideNavButton,
.sideNavButtonClear {
  display: flex;
  align-items: center;

  font-weight: 500;

  letter-spacing: 0.3px;

  width: 100%;
}
.sideNavButton {
  border-top: solid 1px rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.384);
  padding: 10px 15px 10px 15px;
  color: #d1d1d1;
  font-size: 14px;
}
.sideNavButtonClear {
  padding: 18px 15px 18px 15px;
  font-weight: 900;
  color: #ffffff;
  font-size: 16px;
}
.smallNavLinks {
  font-size: 13px;
  font-weight: 700;
  color: #bebebe;
  letter-spacing: 0.21px;
  display: flex;
  flex-direction: column;
  padding: 30px 20px 20px 30px;
}
.smallNavLinks span {
  padding-bottom: 15px;
}
.sideNavButton img {
  width: 22px;
  margin-right: 10px;
}
.navFooter {
  position: fixed;
  bottom: 15px;
  font-size: 11px;
  color: #bebebe;
  letter-spacing: 0.21px;
  margin-left: 20px;
}
.navFooter span {
  margin-right: 15px;
}
.colorOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: none;
  z-index: 9;
}

/* MEDIA QUERIES */

.level2-content,
.level1-content {
  display: none;
}
.mobile-show {
  display: none;
}
.mobile-3-column {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
}

.mobile-4-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.mobile-2-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}
.sideNavDisplay {
  display: none;
}
.latestGroupsBox {
  height: "60px";
}
.classPostThree {
  grid-template-columns: 1fr 1fr 1fr;
}
.eventClassPostImage {
  height: 250px;
}
.classSubscribeButton {
  position: absolute;
  top: 20px;
  right: 18px;
  z-index: 3;
}
.shortenedText {
  width: 70%;
}
.shortenedTextMobile {
  width: 100%;
}
.group-detail-card {
  grid-template-columns: 1.7fr 1fr;
}
@media only screen and (max-width: 1100px) {
  .column-three {
    display: grid;
    grid-template-columns: 300px auto;
  }
  .level3-content,
  .margin-right {
    display: none;
  }
  .level2-content {
    display: block;
  }
}

/* MOBILE */
@media only screen and (max-width: 810px) {
  .column-three,
  .column-two {
    display: grid;
    grid-template-columns: auto;
  }
  .margin-left {
    display: none;
  }
  .level2-content {
    display: block;
  }
  .level1-content {
    display: block;
  }
  .mobile-3-column,
  .mobile-4-column {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
  }

  .mobile-2-column {
    grid-template-columns: auto;
  }
  #popularThread2 {
    display: none;
  }
  .mobile-hide {
    display: none;
  }
  .footer {
    display: none;
  }
  .navSearch {
    display: none;
  }
  .navButtonsTop {
    display: none;
  }
  .navDivider {
    display: block;
  }
  .navLogo {
    display: none;
  }
  .sideNavDisplay {
    display: block;
  }
  .classPostThree {
    grid-template-columns: 1fr;
  }

  .eventClassPostImage {
    height: 150px;
  }

  .classSubscribeButton {
    padding: 15px 15px 0 0;
    position: unset;
  }
  .shortenedText {
    width: 100%;
  }
  .shortenedTextMobile {
    width: 70%;
  }
  .group-detail-card {
    grid-template-columns: 1fr;
  }
  .heroHolderSignin,
  .heroHolderUpgrade,
  .upgradeTable {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    width: 100%;
    text-align: center;

    height: 100%;
  }
  .upgradeTable #separator {
    padding: 10px;
    background-image: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
  }
  .badgeHolder {
    position: absolute;

    top: -20px;
  }
}
