@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

html {
  background-image: url("/images/carbg.png");
  background-repeat: repeat;
}

html,
body,
input,
select,
textarea {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.pageHolder,
.pageHolderInside,
.pageHolderHero,
.heroHolder,
.heroPage,
.heroContentHeader,
.heroContent,
.card,
.graycard,
.footerContainer,
input,
select,
.navContainer,
.profileMenu,
.column-three,
.column-two,
.navButtons,
.badgeHolder,
.cardHero,
.cardbase,
.column-maincontent,
.upgradeTable #separator,
textarea {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
h2 {
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 18px;
}
.googleLogin,
.card {
  -moz-transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.navButtons #button svg,
.navButtonBase {
  -moz-transition: 0.1s ease-in-out;
  -webkit-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.vertical-center {
  display: flex;
  align-items: center;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

.pageHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-bottom: 60px;
}

.pageHolderHero {
  position: absolute;
  width: 100%;

  margin-top: 60px;
}

.pageHolderInside {
  position: absolute;
  width: 100%;
  margin-top: 60px;
  height: 100%;
}

.column-three {
  display: grid;
  grid-template-columns: 300px auto 300px;
}
.column-two {
  display: grid;
  grid-template-columns: 300px auto;
  height: 100%;
}
.column-menu {
  position: absolute;
  width: 100%;
  height: 100%;
}
.mainPage {
  padding-bottom: 40px;
}
.margin-right,
.margin-left {
  background-color: #ffffff;
  height: 100%;
}
.margin-right {
  box-shadow: -1px 0px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 25px;
}
.margin-left {
  box-shadow: 1px 0px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.column-maincontent {
  padding: 20px;
}
.column-maincontent-nopadding {
  padding: 0 20px 20px 20px;
  max-width: 900px;
}
.heroHolder {
  display: grid;
}
.heroHolderSignin {
  grid-template-columns: 40% 60%;
  height: 100%;
}
.heroHolderUpgrade {
  grid-template-columns: 25% 75%;
  height: 100%;
}
.heroPage {
  background: url("/images/1280.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;

  position: inherit;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.56);
  /*  background: url("/images/1280.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heroContent {
  padding: 10%;
  width: 100%;
  max-width: 550px;
}
.heroContentHeader {
  display: grid;
  grid-template-rows: auto auto auto;
  text-align: center;

  width: 100%;
  justify-content: center;
  align-items: center;
}
.heroContentHeader h1 {
  font-size: 22px;

  letter-spacing: 0;

  line-height: 1.5;
}

.heroContentHeader h2 {
  font-size: 15px;
  font-weight: 500;

  letter-spacing: 0;

  line-height: 1.5;
}
.heroContentHeader img {
  width: 100%;
}
.heroContentList ul {
  list-style-position: outside;
  margin-top: 40px;
}
.heroContentList li {
  position: relative;
  list-style-type: none;
  font-size: 14px;
  font-style: italic;
  line-height: 1.5;
  padding: 0px 0px 20px 0px;
  vertical-align: middle;
  font-weight: 400;
}
.heroContentList li:before {
  position: absolute;
  background: url("/images/bullet1.svg") no-repeat center center transparent;
  content: "";
  background-size: 20px 20px;
  padding: 15px;
  position: absolute;

  left: -35px;
  font-size: 33px;
}
.margin-bottom-60 {
  margin-bottom: 60px;
}
.card,
.graycard {
  position: relative;

  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 13px;
  padding: 20px;
  width: 100%;
}
.graycard {
  background: #ecedf1;
}
.card {
  background: #ffffff;
}
.loginHolder,
.largeCardHolder {
  display: flex;

  justify-content: center;
  align-items: center;
}
.largeCardHolder {
  margin: 0 0 auto 0;

  padding: 30px 30px 90px 30px;
}

.upgradeHolder {
  padding: 20px;
}
.loginHolder {
  margin: auto;
  padding-bottom: 80px;
}
.loginContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginLogo img {
  margin: 0px 0 20px 0;
  width: 90%;
}
#textLink {
  font-size: 13px;
  text-decoration: none;

  color: darkgray;
  cursor: pointer;
}
#textLink:hover {
  text-decoration: underline;
  color: #004196;
}
.orDivider {
  display: flex;
  justify-content: center;
  margin: 20px 0 10px 0;
}
.orDivider img {
  width: 100%;
}
.googleLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin-top: 20px;
  opacity: 1;
  cursor: pointer;
}
.googleLogin img {
  width: 70%;
}
.googleLogin:hover {
  opacity: 0.8;
}
.footerContainer,
.navContainer {
  position: fixed;

  align-items: center;
  z-index: 6;

  width: 100%;
  color: #949494;
  font-size: 13px;
}
.navButtonBase {
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.navButtons #button svg:hover ~ .navButtonBase {
  background-color: #e2ac61;
}
.navButtons #button svg:hover {
  fill: #e2ac61;
}
.navButtons #button {
  position: relative;
  margin: 0px 10px 0px 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 65px;
}
.navButtons #button svg {
  fill: #9ca3ae;
  cursor: pointer;

  width: 100%;
  padding: 8px;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 60px;
  bottom: 0;
  box-shadow: 0px -1px 3px 1px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
}
.navContainer {
  position: fixed;
  height: 60px;
  top: 0;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.footerContainer #logo img,
.navContainer #logo img {
  height: 30px;
}
.footerNavDivider {
  display: inline-block;
  width: 0.3px;
  height: 8px;
  background-color: #b6b6b6;
  margin: 0px 10px 0px 10px;
}

.profileMenu img,
.profilePic img {
  border-radius: 100%;
  height: 30px;
  border: solid 2px rgba(102, 102, 102, 0.5);
}
.upgradeHero {
  background-image: linear-gradient(180deg, #eeeeee 0%, #f5f5f5 100%);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  border-radius: 13px 13px 0 0;
  background: #96a9c1;
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
  align-items: center;
  padding: 15px;
}
.upgradeHero h1 {
  font-size: 20px;
  color: rgba(249, 249, 249, 0.8);
  letter-spacing: 0;
  text-align: center;
}
.upgradeHero #col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0px 20px 0 20px;
  position: relative;
}
.badgeHolder {
  position: absolute;
  width: 100%;
  left: 0;
  top: -75px;
}
.badgeHolder img {
  width: 90px;
}
.upgradeHero #price {
  font-size: 35px;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  height: 40px;
}
.upgradeHero #annual {
  height: 20px;

  font-size: 12px;
  color: rgba(255, 255, 255, 0.66);
  letter-spacing: 0;
  text-align: center;
}
.upgradeHero #howlong {
  height: 20px;

  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0;
}
.upgradeHero #howlong span {
  margin: 0 5px 0 5px;
  cursor: pointer;
}
.upgradeHeroCap {
  background: #dbe1eb;
  border-radius: 0 0 13px 13px;
  text-align: center;
  padding: 12px;
  font-weight: 900;
}
.upgradeFloor {
  background: #96a9c1;
  display: grid;
  grid-template-columns: 32% 6px 32% 6px 32%;
  align-items: start;
  text-align: center;
  margin-top: 20px;
  border-radius: 0 0 13px 13px;
}
.upgradeTable {
  display: grid;
  grid-template-columns: 32% 6px 32% 6px 32%;
  align-items: start;

  width: 100%;
  text-align: center;
}
.upgradeTable #separator {
  padding: 3px;
  background-image: linear-gradient(180deg, #dbe1eb 0%, #fdfeff 100%);
  height: 100%;
}
.upgradeList div {
  font-size: 13px;
  padding: 14px;
  border-bottom: solid 0.1px rgba(223, 223, 223, 0.5);
}
